.clients {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapp + .wrapp {
  margin-left: 30px;
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--border-clients-color);
  border-radius: 4px;
  color: #afb1b8;
  transition: border var(--transition-cubic), color var(--transition-cubic);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.client__icon {
  fill: currentColor;
}
