body {
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
  background-color: $primary-bgr-color;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0;
}

.section-title {
  font-style: normal;
  text-align: center;
  @include font(700, 36px, 1.17, 0.03em);
  color: $primary-shade-text-color;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
