.filter-wrapp {
  margin-bottom: 50px;
}
.filter-wrapp {
  display: flex;
  justify-content: center;
}
.filter__item-btn:not(:last-child) {
  margin-right: 8px;
}
.filter__item-btn {
  margin-right: 8px;
}
