.address {
  margin-top: 20px;
}

.contacts {
  display: block;
}

.contact__map {
  color: var(--secondary-text-color);
  transition: color var(--transition-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-section {
  padding: 60px 0;
  background-color: var(--secondary-bgr-color);
}

.contact__link {
  color: var(--secondary-shade-text-color);
  transition: color var(--transition-cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.box:not(:last-child) {
  margin-bottom: 9px;
}
