.header-container {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-portfolio {
  border: 1px solid var(--border-header-color);
}

.header-contact:not(:last-child) {
  margin-right: 50px;
}

.header-contact__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-shade-2-text-color);
  padding: 32px 0;
  transition: color var(--transition-cubic);
  & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.contact__icon {
  margin-right: 10px;
  & {
    fill: currentColor;
  }
}
