.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__web {
  color: $accent-color;
}
.logo--black {
  color: $primary-text-color;
}
.logo--white {
  color: $secondary-text-color;
}
