.subscribe {
  @extend %d-flex;
}
.subscribe__input {
  margin-right: 12px;
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  transition: border-color $transition-cubic;
  width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.E-mail {
  @include font(400, 16px, 1.25, 0.03em);
  @extend %d-flex;
  align-items: center;
  color: $secondary-shade-text-color;
}

.primary-btn--flex {
  align-items: center;
  display: inline-flex;
}

.primary-btn--icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 10px;
}
