.portfolio-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-shade-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-shade-2-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:hover .portfolio-text-invisible {
  transform: translateY(0);
}
.portfolio-item {
  border: 1px solid var(--border-portfolio-item-color);
  transition: box-shadow var(--transition-cubic);
}
.portfolio-item {
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.type-work {
  padding: 20px 24px;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text-invisible {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--bgr-accent-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 101%;
  transform: translateY(100%);
  transition: transform 250ms;
}
