.primary-btn {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  transition: background-color var(--transition-cubic);
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }
  & {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
