.join {
  display: flex;
  padding: 0;
}
.join-wrapp + .join-wrapp {
  margin-left: 10px;
}

.social-white__link {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-bgr-color);
  transition: background-color var(--transition-cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
