:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --primary-shade-text-color: #212121;
  --primary-shade-2-text-color: #757575;
  --secondary-shade-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;

  --primary-bgr-color: #ffffff;
  --secondary-bgr-color: #2f303a;
  --bgr-accent-color: rgba(33, 150, 243, 0.9);
  --footer-social-bgr-color: rgba(255, 255, 255, 0.1);
  --secondary-shade-bgr-color: #f5f4fa;

  --border-header-color: #ececec;
  --border-portfolio-item-color: #eeeeee;
  --border-clients-color: #afb1b8;

  --transition-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general-styles {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-styles {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-shade-text-color);
}
.footer-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}
